*{
    padding: 0px;
    margin: 0px;
}
#myG{
    margin: 25px
}
body{
    background-size:cover;
}
.container{
    margin-top: 5%;
    margin-left: 3%;
}
.p-box{
    border: 10px solid rgb(247, 117, 182);
    width: 32%;
    float: left;
    margin-left: 10px;
    height: 38em;
    padding: 8px;
    background-color:transparent;
}
.p-box h3{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    color:navy;
}
.p-box p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.30em;
    text-align: justify;
    color:midnightblue;
}
.p-box a{
    text-decoration: none;
    color: red;
}
.img{
    background-size:cover;
}
.img-thumbnail{
    padding:5px;
    width: 95%;
    height: 15em;
}
.dropdown{
    size: 50%;
    margin-top: 30%;
    margin-left: 70%;
}
footer{
    background-color: black;
    color:white;
    height: 2.25em;
    margin-top: 25%;
}
footer h3{
    text-align: center;
}